:root {
    --header-1-regular-font-family: "Montserrat", Helvetica;
    --header-1-regular-font-weight: 400;
    --header-1-regular-font-size: 26px;
    --header-1-regular-letter-spacing: 0px;
    --header-1-regular-line-height: 32px;
    --header-1-regular-font-style: normal;
    --header-1-medium-font-family: "Montserrat", Helvetica;
    --header-1-medium-font-weight: 500;
    --header-1-medium-font-size: 26px;
    --header-1-medium-letter-spacing: 0px;
    --header-1-medium-line-height: 32px;
    --header-1-medium-font-style: normal;
    --header-1-bold-font-family: "Montserrat", Helvetica;
    --header-1-bold-font-weight: 700;
    --header-1-bold-font-size: 26px;
    --header-1-bold-letter-spacing: 0px;
    --header-1-bold-line-height: 32px;
    --header-1-bold-font-style: normal;
    --header-2-regular-font-family: "Montserrat", Helvetica;
    --header-2-regular-font-weight: 400;
    --header-2-regular-font-size: 22px;
    --header-2-regular-letter-spacing: 0px;
    --header-2-regular-line-height: 26px;
    --header-2-regular-font-style: normal;
    --header-2-medium-font-family: "Montserrat", Helvetica;
    --header-2-medium-font-weight: 500;
    --header-2-medium-font-size: 22px;
    --header-2-medium-letter-spacing: 0px;
    --header-2-medium-line-height: 26px;
    --header-2-medium-font-style: normal;
    --header-2-bold-font-family: "Montserrat", Helvetica;
    --header-2-bold-font-weight: 700;
    --header-2-bold-font-size: 22px;
    --header-2-bold-letter-spacing: 0px;
    --header-2-bold-line-height: 26px;
    --header-2-bold-font-style: normal;
    --header-3-regular-font-family: "Montserrat", Helvetica;
    --header-3-regular-font-weight: 400;
    --header-3-regular-font-size: 20px;
    --header-3-regular-letter-spacing: 0px;
    --header-3-regular-line-height: 24px;
    --header-3-regular-font-style: normal;
    --header-3-medium-font-family: "Montserrat", Helvetica;
    --header-3-medium-font-weight: 500;
    --header-3-medium-font-size: 20px;
    --header-3-medium-letter-spacing: 0px;
    --header-3-medium-line-height: 24px;
    --header-3-medium-font-style: normal;
    --header-3-bold-font-family: "Montserrat", Helvetica;
    --header-3-bold-font-weight: 700;
    --header-3-bold-font-size: 20px;
    --header-3-bold-letter-spacing: 0px;
    --header-3-bold-line-height: 24px;
    --header-3-bold-font-style: normal;
    --paragraph-1-regular-font-family: "Montserrat", Helvetica;
    --paragraph-1-regular-font-weight: 400;
    --paragraph-1-regular-font-size: 17px;
    --paragraph-1-regular-letter-spacing: 0px;
    --paragraph-1-regular-line-height: 22px;
    --paragraph-1-regular-font-style: normal;
    --paragraph-1-medium-font-family: "Montserrat", Helvetica;
    --paragraph-1-medium-font-weight: 500;
    --paragraph-1-medium-font-size: 17px;
    --paragraph-1-medium-letter-spacing: 0px;
    --paragraph-1-medium-line-height: 22px;
    --paragraph-1-medium-font-style: normal;
    --paragraph-1-bold-font-family: "Montserrat", Helvetica;
    --paragraph-1-bold-font-weight: 700;
    --paragraph-1-bold-font-size: 17px;
    --paragraph-1-bold-letter-spacing: 0px;
    --paragraph-1-bold-line-height: 22px;
    --paragraph-1-bold-font-style: normal;
    --paragraph-2-regular-font-family: "Montserrat", Helvetica;
    --paragraph-2-regular-font-weight: 400;
    --paragraph-2-regular-font-size: 15px;
    --paragraph-2-regular-letter-spacing: 0px;
    --paragraph-2-regular-line-height: 18px;
    --paragraph-2-regular-font-style: normal;
    --paragraph-2-medium-font-family: "Montserrat", Helvetica;
    --paragraph-2-medium-font-weight: 500;
    --paragraph-2-medium-font-size: 15px;
    --paragraph-2-medium-letter-spacing: 0px;
    --paragraph-2-medium-line-height: 18px;
    --paragraph-2-medium-font-style: normal;
    --paragraph-2-bold-font-family: "Montserrat", Helvetica;
    --paragraph-2-bold-font-weight: 700;
    --paragraph-2-bold-font-size: 15px;
    --paragraph-2-bold-letter-spacing: 0px;
    --paragraph-2-bold-line-height: 18px;
    --paragraph-2-bold-font-style: normal;
    --caption-regular-font-family: "Montserrat", Helvetica;
    --caption-regular-font-weight: 400;
    --caption-regular-font-size: 13px;
    --caption-regular-letter-spacing: 0px;
    --caption-regular-line-height: 16px;
    --caption-regular-font-style: normal;
    --caption-medium-font-family: "Montserrat", Helvetica;
    --caption-medium-font-weight: 500;
    --caption-medium-font-size: 13px;
    --caption-medium-letter-spacing: 0px;
    --caption-medium-line-height: 16px;
    --caption-medium-font-style: normal;
    --caption-bold-font-family: "Montserrat", Helvetica;
    --caption-bold-font-weight: 700;
    --caption-bold-font-size: 13px;
    --caption-bold-letter-spacing: 0px;
    --caption-bold-line-height: 16px;
    --caption-bold-font-style: normal;
    --primitives-color-primary-100: rgba(255, 248, 212, 1);
    --primitives-color-neutral-100: rgba(255, 255, 255, 1);
    --primitives-color-neutral-200: rgba(230, 230, 230, 1);
    --primitives-color-neutral-300: rgba(204, 204, 204, 1);
    --primitives-color-neutral-400: rgba(179, 179, 179, 1);
    --primitives-color-neutral-500: rgba(153, 153, 153, 1);
    --primitives-color-neutral-600: rgba(102, 102, 102, 1);
    --primitives-color-neutral-700: rgba(76, 76, 76, 1);
    --primitives-color-neutral-800: rgba(51, 51, 51, 1);
    --primitives-color-neutral-900: rgba(0, 0, 0, 1);
    --primitives-color-primary-200: rgba(255, 239, 169, 1);
    --primitives-color-primary-300: rgba(255, 227, 126, 1);
    --primitives-color-primary-400: rgba(255, 216, 94, 1);
    --primitives-color-primary-500: rgba(255, 198, 41, 1);
    --primitives-color-primary-600: rgba(219, 163, 29, 1);
    --primitives-color-primary-700: rgba(183, 131, 20, 1);
    --primitives-color-primary-800: rgba(147, 100, 13, 1);
    --primitives-color-primary-900: rgba(122, 79, 7, 1);
}
